.page.contact {
  min-height: 100vh;
  padding: 120px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-card {
  width: 100%;
  max-width: 520px;
  padding: 50px 40px;
  border-radius: 24px;

  background: rgba(15, 23, 42, 0.92);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);

  border: 1px solid rgba(186, 197, 201, 0.25);
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.6);

  text-align: center;
}

.contact-card span {
  color: #00f7ff;
}

.contact-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-card h1 {
  font-size: 42px;       
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-card h1 span {
  color: #00f7ff;
}

.contact-form input,
.contact-form textarea {
  padding: 14px 16px;
  border-radius: 10px;
  background: rgba(15, 23, 42, 0.85);
  border: 1px solid rgba(56, 189, 248, 0.3);
  color: #e5e7eb;
  outline: none;
}

.contact-form button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;

  background: linear-gradient(90deg, #38bdf8, #0ea5e9);
  color: #020617;
}
