
html, body, #root {
  min-height: 100vh;
  margin: 0;
}

.root-wrapper {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column; 
}

.app-layout {
  position: relative;
  z-index: 2; 
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1; 
  position: relative;
  z-index: 2;
}

.footer {
  background: #ffffff;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: auto; 
}
