
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
   z-index: 1000;


  background: linear-gradient(
    135deg,
    rgba(10, 25, 47, 0.85),
    rgba(15, 23, 42, 0.75)
  );

  color: #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  z-index: 1000;



  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  box-shadow:
    0 4px 25px rgba(0, 0, 0, 0.55),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);

  border-bottom: 1px solid rgba(56, 189, 248, 0.25);

 
  background-size: 200% 200%;
  animation: navbarGlow 8s ease infinite;
}


@keyframes navbarGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  height: 45px;
  filter: drop-shadow(0 0 6px rgba(56, 189, 248, 0.7));
  transition: all 0.3s ease;
}

.logo-image:hover {
  filter: drop-shadow(0 0 14px rgba(56, 189, 248, 1));
  transform: scale(1.05);
}


.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #7fff00;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;

  text-shadow:
    0 0 4px #7fff00,
    0 0 8px #38bdf8;
}

.nav-links a:hover {
  color: #38bdf8;
  text-shadow:
    0 0 10px #38bdf8,
    0 0 20px #0ea5e9;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 12px 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
}
